USE [master]
GO
/****** Object:  Database [ServiceBookingDb]    Script Date: 10/1/2026 1:29:53 AM ******/
CREATE DATABASE [ServiceBookingDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiceBookingDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ServiceBookingDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ServiceBookingDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ServiceBookingDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiceBookingDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiceBookingDb]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 10/1/2026 1:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingCode] [nvarchar](20) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[StaffId] [int] NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[StatusBooking] [nvarchar](20) NOT NULL,
	[CustomerNote] [nvarchar](500) NULL,
	[CancellationReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyServices]    Script Date: 10/1/2026 1:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameService] [nvarchar](200) NOT NULL,
	[DescriptionService] [nvarchar](1000) NULL,
	[DurationMinutes] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 10/1/2026 1:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Staffs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/1/2026 1:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkSchedules]    Script Date: 10/1/2026 1:29:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkSchedules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_WorkSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [BookingCode], [CustomerId], [ServiceId], [StaffId], [StartTime], [EndTime], [StatusBooking], [CustomerNote], [CancellationReason], [CreatedAt]) VALUES (1, N'BK0001', 2, 1, 1, CAST(N'2026-09-22T09:00:00.0000000' AS DateTime2), CAST(N'2026-09-22T09:30:00.0000000' AS DateTime2), N'Completed', NULL, NULL, CAST(N'2026-09-25T04:47:07.1852992' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [BookingCode], [CustomerId], [ServiceId], [StaffId], [StartTime], [EndTime], [StatusBooking], [CustomerNote], [CancellationReason], [CreatedAt]) VALUES (2, N'BK0002', 3, 2, 2, CAST(N'2026-09-22T10:00:00.0000000' AS DateTime2), CAST(N'2026-09-22T11:00:00.0000000' AS DateTime2), N'Completed', N'Gội nhẹ tay', NULL, CAST(N'2026-09-25T04:47:07.1852992' AS DateTime2))
INSERT [dbo].[Bookings] ([Id], [BookingCode], [CustomerId], [ServiceId], [StaffId], [StartTime], [EndTime], [StatusBooking], [CustomerNote], [CancellationReason], [CreatedAt]) VALUES (3, N'BK0003', 2, 3, 1, CAST(N'2026-09-23T14:00:00.0000000' AS DateTime2), CAST(N'2026-09-23T15:30:00.0000000' AS DateTime2), N'Completed', NULL, NULL, CAST(N'2026-09-25T04:47:07.1852992' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[MyServices] ON 

INSERT [dbo].[MyServices] ([Id], [NameService], [DescriptionService], [DurationMinutes], [Price], [IsActive]) VALUES (1, N'Cắt tóc nam', N'Cắt tóc nam kiểu cơ bản', 30, CAST(80000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MyServices] ([Id], [NameService], [DescriptionService], [DurationMinutes], [Price], [IsActive]) VALUES (2, N'Gội đầu nữ', N'Gội đầu kết hợp massage da đầu', 40, CAST(190000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MyServices] ([Id], [NameService], [DescriptionService], [DurationMinutes], [Price], [IsActive]) VALUES (3, N'Massage lưng nữ', N'Massage lưng giảm mỏi', 80, CAST(600000.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[MyServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([Id], [FullName], [Email], [IsActive]) VALUES (1, N'Lê Minh Tuấn', N'tuan.le@demo.com', 1)
INSERT [dbo].[Staffs] ([Id], [FullName], [Email], [IsActive]) VALUES (2, N'Phạm Thị Thu Hà', N'ha.pham@demo.com', 1)
INSERT [dbo].[Staffs] ([Id], [FullName], [Email], [IsActive]) VALUES (3, N'Nguyễn Thị Bình', N'nhanvienb@demo.com', 0)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Role], [CreatedAt]) VALUES (1, N'admin@demo.com', N'AQAAAAIAAYagAAAAEMS/XEKx8rk8N1wNScsCBl/ZxXBOAogTWFbD+bnwygwopi7ahquD75H4nFFXEip5mA==', N'Quản trị viên', N'Admin', CAST(N'2026-09-25T04:47:07.1833024' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Role], [CreatedAt]) VALUES (2, N'customer1@demo.com', N'AQAAAAIAAYagAAAAEAnXwAo9rRhOmsK6QeRc+x02IMGfLDLyNQYGOhPAR/Sju2ihTn1JhLVDWzXQbH46tg==', N'Nguyễn Văn An', N'Customer', CAST(N'2026-09-25T04:47:07.1833024' AS DateTime2))
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FullName], [Role], [CreatedAt]) VALUES (3, N'customer2@demo.com', N'AQAAAAIAAYagAAAAEAnXwAo9rRhOmsK6QeRc+x02IMGfLDLyNQYGOhPAR/Sju2ihTn1JhLVDWzXQbH46tg==', N'Trần Thị Bình', N'Customer', CAST(N'2026-09-25T04:47:07.1833024' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkSchedules] ON 

INSERT [dbo].[WorkSchedules] ([Id], [StaffId], [WorkDate], [StartTime], [EndTime]) VALUES (1, 1, CAST(N'2026-10-04' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[WorkSchedules] ([Id], [StaffId], [WorkDate], [StartTime], [EndTime]) VALUES (3, 1, CAST(N'2026-10-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[WorkSchedules] ([Id], [StaffId], [WorkDate], [StartTime], [EndTime]) VALUES (4, 2, CAST(N'2026-10-02' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[WorkSchedules] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Bookings_BookingCode]    Script Date: 10/1/2026 1:29:53 AM ******/
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [UQ_Bookings_BookingCode] UNIQUE NONCLUSTERED 
(
	[BookingCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 10/1/2026 1:29:53 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MyServices] ADD  CONSTRAINT [DF_Services_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staffs_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[MyServices] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Services]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Staffs]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users]
GO
ALTER TABLE [dbo].[WorkSchedules]  WITH CHECK ADD  CONSTRAINT [FK_WorkSchedules_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[WorkSchedules] CHECK CONSTRAINT [FK_WorkSchedules_Staffs]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([StatusBooking]='Cancelled' OR [StatusBooking]='Completed' OR [StatusBooking]='Confirmed' OR [StatusBooking]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Admin' OR [Role]='Customer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
